/* Modified from alternate stylesheet for rawdog by
 * Samuel Hym <Samuel.Hym@gmail.com> */

/* This is the default docutils CSS. You probably need it, too.
 * There are some other styles in http://rst2a.com
 * */
@import "html4css1.css";

body {
    font-family: Georgia,Serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #08b;
}

a:visited, a:hover {
    color: #a03;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ddd;
    color: #888;
}

h2, h3 {
    text-transform: uppercase;
    font-size: 90%;
    color: #888;
}

h2 {
    margin-top: 3em;
}

h3 {
    margin-top: 2em;
}

.keyword {
	background-color: yellow;
}
